body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #192a51;
    background-color: #f5e6e8;
}

a {
    color: #553463;
    text-decoration: none;
    font-size: 1em;
    transition: 0.5s;
}

nav > div:nth-of-type(1) > a:nth-of-type(2) {
    font-weight: 700;
    color: #f7404f;
}

nav {
    background-color: #f5e6e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    margin-bottom: 80px;
}

nav > div:nth-of-type(1) {
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: space-between;
}

a:hover {
    text-decoration: underline;
}

.project-1, .project-2{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #967aa1;
    line-height: 2em;
}

#box-1, #box-3 {
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-left: 20px;
}

#box-2, #box-4 {
    grid-column: 2 / span 2;
    padding-right: 20px;
}

p {
    text-align: center;
    margin: 100px;
    font-size: 2.5em;
}