body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #192a51;
    background-color: #f5e6e8;
}

a {
    color: #553463;
    text-decoration: none;
    font-size: 1em;
    transition: 0.5s;
}

nav > div:nth-of-type(1) > a:nth-of-type(3) {
    font-weight: 700;
    color: #f7404f;
}

nav {
    background-color: #f5e6e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

nav > div:nth-of-type(1) {
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: space-between;
}

a:hover {
    text-decoration: underline;
}